/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::ng-deep .mat-snack-bar-container.custom-toast-panel {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  min-width: 0 !important;
  max-width: unset !important;
  width: auto !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  overflow: visible !important;
}

.success-snackbar {
  background-color: #4caf50;
  color: #fff;
}